.bg-color{
    background-color: white;
}
.logo-icon{
    width: 4.5rem;
    margin-left: 3rem;
}
.navbar-expand-lg .navbar-collapse{
    flex-direction: column;
}
.navbar-light .navbar-nav .nav-link.active{
    font-weight: 700;
    font-family: revert;
    cursor: pointer;
    padding: 1.5rem;
}